*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
  font-family: "Poppins", sans-serif; 
  min-height: 100vh;
  background: #333;
}
/* Navigation bar with hamburger menu when responsive */
nav{
  background: #115508;
  height: 80px;
  width: 100%;
}
.logo a{
  color: #fff;
  font-size: 33.5px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.logo a:hover{
  background: none;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #fff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li a.active,a:hover{
  background: #008E80;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
/* Making the navigation bar responsive to different sized devices */
@media (max-width: 952px){
  .logo a{
    font-size: 28px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  nav ul li a:hover,a.active{
    background: none;
    color: #008E80;
  }
  #check:checked ~ ul{
    left: 0;
  }
}